.rs-sidenav-item-active {
  font-weight: bold;
}

.nav-wrapper {
  width: 240px;
  height: 100vh;
  padding-top: 20px;
  background-color: var(--rs-sidenav-default-bg);
}

.main {
  position: absolute;
  left: 240px;
  top: 0;

  width: calc(100vw - 240px);
  height: 100vh;
  padding: 30px 30px 0 30px;
}

.main > h1 {
  text-transform: capitalize;
  margin-bottom: 10px;
}

.main > iframe {
  border: none;
  width: 100%;
  height: calc(100% - 100px);
}

.u-hide {
  display: none;
}