:root {
  --rs-sidenav-default-bg: #f0f0f2;
  --rs-sidenav-default-selected-text: #2291fa;
  --rs-text-primary: #0c0e21;
}

.rs-sidenav-item-active {
  font-weight: bold;
}

.nav-wrapper {
  width: 240px;
  height: 100vh;
  padding-top: 20px;
  background-color: var(--rs-sidenav-default-bg);
}

.main {
  position: absolute;
  left: 240px;
  top: 0;

  width: calc(100vw - 240px);
  height: 100vh;
  padding: 30px 30px 0 30px;
}

.main > h1 {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.main > iframe {
  border: none;
  width: 100%;
  height: calc(100% - 100px);
}

.u-hide {
  display: none;
}

.logo {
  width: 120px;
  /* center logo */
  margin-left: calc(50% - 60px);
  margin-bottom: 20px;
}

/* hides page by covering it with a background */
.hide-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.external-link-icon {
  width: 14px;
  height: 12px;
  margin-left: 7px;
}
